# Airflow
apache-airflow==2.7.3
apache-airflow-providers-postgres==5.7.1

# Database
psycopg2-binary==2.9.9
SQLAlchemy==1.4.50

# Data Processing
pandas==2.1.3
numpy==1.26.2
Faker==20.1.0

# Data Quality
great-expectations==0.18.8

# Jupyter
jupyter==1.0.0
jupyterlab==4.0.9
ipykernel==6.27.1
jupyter-core==5.5.0

# Visualization
matplotlib==3.8.2
seaborn==0.13.0

# Utilities
python-dotenv==1.0.0
pyyaml==6.0.1
